@tailwind base;
@tailwind components;
@tailwind utilities;

.styles-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.styles-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.underlined::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-in-out;
}

.underlined:hover::after {
  width: 100%;
}

.loading--background {
  background: linear-gradient(to right, #f3f4f6, #49494d);
  background-size: 400% auto;
  animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
